header{
  color: purple;
  background-color: pink;
}

div {
  font-size: 30pt;
  padding: initial;
}

nav {
  display: flex;
  flex-direction: column;

  /* more custom styles */

  position: fixed;
  width: 100%;
  top: 0;
  transform: translateX(100vw);
  transition: 0.5s;
}

nav.open {
  transform: translateX(0);
}

#menuToggler {
  position: static;
  transform: translateX(0);
  top: 0;
  right: 0;
  z-index: 1;
  /* more custom styles */
}

nav a {
  background-color: pink;
  color: purple;
  padding: 0.25em 0.5em;
  margin: 0.25em 0.5em;
  text-decoration: none;
  transition: background-color 0.3s;
  border-style: double;
  border-color: purple;
  /* width: 15vw; */
  box-sizing: border-box;
}
nav a:hover {
  background-color: #CCCCFF;
}

header, main {
  overflow: auto;
}

section{
  color: purple;
  width: 85vw;
  overflow: auto;
}

header, main {
  overflow: auto;
}
